/MClassifierItemProvider.java
/MClassItemProvider.java
/MComplexMultiplicityItemProvider.java
/MDataTypeItemProvider.java
/MecoreEditPlugin.java
/MecoreItemProviderAdapterFactory.java
/MEcoreTypeItemProvider.java
/MEnumItemProvider.java
/MEnumLiteralItemProvider.java
/MFeatureItemProvider.java
/MImportItemProvider.java
/MModelElementItemProvider.java
/MMultiplicityItemProvider.java
/MNamedElementItemProvider.java
/MOperationItemProvider.java
/MPackageItemProvider.java
/MParameterItemProvider.java
/MSimpleMultiplicityItemProvider.java
/MSuperTypeReferenceItemProvider.java
/MTypeArgumentableItemProvider.java
/MTypedElementItemProvider.java
/MTypeItemProvider.java
/MTypeParameterItemProvider.java
/MTypeParametrizableItemProvider.java
