<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="de.devboost.emfcustomize.builder.EMFCustomizeCompilationParticipant"
            id="de.devboost.emfcustomize.builder.EMFCustomizeCompilationParticipant"
            modifiesEnvironment="true">
      </compilationParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="de.devboost.emfcustomize.actions.CustomizeActionContribution"
            nameFilter="*Impl.java"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="de.devboost.emfcustomize.actions.CustomizeAction"
               id="de.devboost.emfcustomize.actions.CustomizeAction"
               label="Customize EMF Code">
         </action>
      </objectContribution>
   </extension>
</plugin>
